@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "Vazirmatn", sans-serif !important;
  max-width: 100vw;
  padding: 0 !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none !important;
}
